<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paicheya.pimagepicker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity android:name=".view.camera.CameraActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".view.edit.EditActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".view.gallery.GalleryActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
