<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paicheya.pimagepicker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <activity android:name=".activity.camera.CameraActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.edit.EditActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.gallery.GallerySingleActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.gallery.GalleryMultipleActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".activity.gallery.GalleryPreviewActivity"
            android:theme="@style/AppTheme.PIP.FullSCreen"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
